<div class="container">
  <div class="m-4 center" *ngIf="!player1 && !player2">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="border">
        <div class="mt-2">
            <label>Player 1 Name</label> 
            <input name="pl1" class="m-2" ngModel required>
        </div>
        <div class="mt-2">
            <label>Player 2 Name</label>
            <input name="pl2" class="m-2" ngModel required>
        </div>
        <div class="mt-2">
            <button type="submit" [disabled]="!f.valid" class="btn btn-primary">Continue</button>
        </div>
    </form>
  </div>

  <app-game *ngIf="player1 && player2" [pl1]="player1" [pl2]="player2"></app-game>

</div>
